
<% layout('layout') -%>

<div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
    <div class="row">
        <div class="col-8">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Name En</th>
                                <th>Name En</th>
                                <th>Logo</th>
                                <th>Banner</th>
                                <th>Parent Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name En</th>
                                <th>Name En</th>
                                <th>Logo</th>
                                <th>Banner</th>
                                <th>Parent Category</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        <% data.forEach(data => { %>
                        <tr>
                            <td><%-data.name.en%></td>
                            <td><%-data.name.bn%></td>
                            <td><img src=<%=baseURL%><%-data.logo%>  style="width:50px;height:60px;"></td>
                            <td><img src=<%=baseURL%><%-data.banner%>  style="width:50px;height:60px;"></td>
                            <% if(data.parent_category != null) { %>
                            <td><%-data.parent_category.name.en%></td>
                            <% } else { %>
                            <td><p>Parent Category</p></td>
                            <% } %>
                            <td>
                                <a href="{{URL::to('admin/product')}}/{{$item->id}}/edit" class="btn btn-primary btn-icon-split btn-sm">
                                    <span class="text">edit</span>
                                            <span class="icon text-gray-600">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                </a>
                                <a href="<%=baseURL%>category/delete/<%-data._id%>"">
                                    <button type='submit' class="btn btn-danger align-content-end btn-sm" ><span class="text">delete</span>
                                    <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                    </span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Create Category
                </div>
                    <form action="<%=baseURL%>category" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name English</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter category name in english" name="nameEn" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name Bangla</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter category name in bangla" name="nameBn" required>
                            </div>
                            <div class="form-group">
                            <label for="logo"> Upload Logo </label>
                                <input type="file"  name="logo" class="form-control"  required>
                            </div>
                            <div class="form-group">
                            <label for="image"> Upload Banner </label>
                                <input type="file"  name="banner" class="form-control"  required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Select parent category </label>
                                <select class="form-control" name="parent_category"  >
                                    <option value=Main>Parent Catgory</option>
                                    <% data.forEach(data => { %>
                                        <option value= <%-data._id%> > <%-data.name.en%> </option>
                                    <% })%>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>